<div class="container">
    <h1>Update Product</h1>

    <form #ngForm="ngForm" class="d-flex justify-content-center" (submit)="onFormSubmit()">
        <div class="mt-2">
            <div class="mt-3">
                <label for="productName" class="form-lable">Product Name</label>
                <input type="text" id="productName" name="productName" class="form-control" [(ngModel)]="product.productName">
            </div>

            <div class="mt-3">
                <label for="price" class="form-lable">price</label>
                <input type="text" id="price" name="price" class="form-control" [(ngModel)]="product.price">
            </div>

            <div class="mt-3">
                <label for="Brand" class="form-lable">Brand</label>
                <select name="brandId" id="brandId" [(ngModel)]="product.brandId" class="form-control">
                    <ng-container *ngIf="brand$ | async as brandsbrands">
                        <option *ngFor="let brand of  brandsbrands" value="{{brand.brandId}}">{{brand.brandName}}</option>
                    </ng-container>
                </select>
            </div>

            <div class="mt-3">
                <label for="Description" class="form-lable">Description</label>
                <textarea id="description" name="description" class="form-control" rows="5"  [(ngModel)]="product.description"></textarea>
            </div>

            <div class="addProduct">
                <p>Choose image</p>
                <input type="file" id="fileInput" accept="image/*" (change)="onFileSelected($event)">
            </div>

            <select name="questionId" id="questionId" [(ngModel)]="product.status" class="form-control mt-3" (change)="onClick($event)">
                <ng-container>
                    <option value="Active">Active</option>
                    <option value="Block">Block</option>
                </ng-container>
            </select>
            <div>
                <button class="btnUpdateProduct btn btn-primary mt-3" type="submit">Add product</button>
            </div>
        </div>
    </form>
</div>
