<div class="container">
    <p class="text">Contact</p>
    <div class="content">
        <p>Nếu cần hỗ trợ ký thuật, quý khách vui lòng liên hệ một trong ba cách sau:</p>
        <div class="text1">
            <p>1. Truy cập </p>
            <p class="redcolor">supportdevteam.com</p>
            <p>và gửi yêu cầu hỗ trợ</p>
        </div>
        <div class="text1">
            <p>2. Gửi email cho phòng kỹ thuật </p>
            <a class="redcolor"> kythuat&#64;devteam.com</a>
        </div>
        <div class="text1">
            <p>3. Gọi số hoe line hỗ trợ khách hàng  </p>
            <p class="redcolor"> 0965 874 242</p>
        </div>
    </div>
</div>
