<div class="container">
  <p class="text">Overview</p>

  <div class="overview">
    <div class="box">
      <p class="quantity"></p>
      <p class="text text-sanpham">Product</p>
      <div
        class="bottom-box"
        id="bt1"
        routerLink="/admin/product"
        style="cursor: pointer"
      >
        <p>See more</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </div>

    <div class="box">
      <p class="quantity"></p>
      <p class="text text-sanpham">Brand</p>
      <div
        class="bottom-box"
        id="bt2"
        routerLink="/admin/brand"
        style="cursor: pointer"
      >
        <p>See more</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </div>

    <div class="box">
      <p class="quantity"></p>
      <p class="text text-sanpham">Blog</p>
      <div
        class="bottom-box"
        id="bt3"
        routerLink="/admin/blog"
        style="cursor: pointer"
      >
        <p>See more</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </div>

    <div class="box">
      <p class="quantity"></p>
      <p class="text text-sanpham">Customer</p>
      <div
        class="bottom-box"
        id="bt4"
        routerLink="/admin/customer"
        style="cursor: pointer"
      >
        <p>See more</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </div>

    <div class="box">
      <p class="quantity"></p>
      <p class="text text-sanpham">Order</p>
      <div
        class="bottom-box"
        id="bt5"
        routerLink="/admin/order"
        style="cursor: pointer"
      >
        <p>See more</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </div>

    <div class="box">
      <p class="quantity">12</p>
      <p class="text text-sanpham">Sản phẩm</p>
      <div class="bottom-box" id="bt6">
        <p>See more</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </div>
  </div>
</div>
