
<body>
    <div class="navbar">
        <ul>
            <li>Admin</li>
            <li tabindex="0" (click)="onClick(1)">Overview</li>
            <li tabindex="0" (click)="onClick(2)">Product</li>
            <li tabindex="0" (click)="onClick(3)">Brand</li>
            <li tabindex="0" (click)="onClick(4)">Blog</li>
            <li tabindex="0" (click)="onClick(5)">Order</li>
            <li tabindex="0" (click)="onClick(6)">Customer</li>
            <li tabindex="0" (click)="onClick(7)">Contact</li>
        </ul>
    </div>

    <div class="content">
        <div class="topbar">
            <i class="fa-solid fa-bars iconbar"></i>
            <div class="right-content">
                <i class="fa-regular fa-user"></i>
                <p>Admin</p>
            </div>
        </div>
    </div>
</body>

