<div class="navbar">
    <ul>
        <li><i class="fa-solid fa-user-shield"></i> Admin</li>
        <li tabindex="0" (click)="onClick(1)"><i class="fa-solid fa-chart-line"></i> Overview</li>
        <li tabindex="0" (click)="onClick(2)"><i class="fa-solid fa-box"></i> Product</li>
        <li tabindex="0" (click)="onClick(3)"><i class="fa-solid fa-tags"></i> Brand</li>
        <li tabindex="0" (click)="onClick(4)"><i class="fa-solid fa-blog"></i> Blog</li>
        <li tabindex="0" (click)="onClick(5)"><i class="fa-solid fa-receipt"></i> Order</li>
        <li tabindex="0" (click)="onClick(6)"><i class="fa-solid fa-users"></i> Customer</li>
        <li tabindex="0" (click)="onClick(7)"><i class="fa-solid fa-envelope"></i> Contact</li>
        <li tabindex="0" (click)="onClick(8)" class="logout-li">
            <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
        </li>
    </ul>
</div>
